.header {
  height: 100px;
  padding: 0 40px;

  &__title {
    order: 1;
  }

  &__menu {
    display: none;
  }

  &__options {
    order: 3;
  }

  &__icon-user {
    display: inline;
  }

  &__button {
    display: inline;
  }
}